<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning</title>
</head>
<body>
        <style>
            body{
                text-align: center;
            }
            
        </style>
        <h1>EJS Tags</h1>
        <h2><i>Current second <%=sec %></i></h2>
        <% if (sec%2===0) { %>
            <ul> 
            <% data.forEach(element => { %>
                <li><%= element %></li>
             <% }) %>
            </ul>
        <% } %>
        <% if (sec%2!==0) { %>
            <h3><i>Details Not available</i></h3>
        <% } %>
         <%- content %>
         <footer>
            <style>
                footer{
                    text-align: center;
                }
            </style>
            <%- include('second.ejs') %>
         </footer>
</body>
</html>