<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
         <h3> Developed and Documented by ｼ S̷ H҉ Ї ℣ ₳ Ñ S̷ H҉  ｼ</h3>
</body>
</html>